@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

$theme-colors: (
  "primary":    #7B9AD1,
  "secondary":  #D2E5F3,
  "light":      #EDF1F6,
  "dark":       #465B6B,
  "text":       #465B6B,
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body {
  font-family: 'Bitter', serif;
}

#app {
  font-family: 'Bitter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme-color("text");
}

body {
  background: color("white");
}

*:focus {
  outline: none !important;
}

* {
  border-radius: 0 !important;
  font-size: 13px !important;
}

h1 {
  font-size: 30px !important;
  font-weight: bold !important;
}

h2 {
  font-size: 20px !important;
  font-weight: bold !important;
}

h3 {
  font-size: 18px !important;
}

.navbar {
  border-bottom: 1px solid theme-color("primary");
  background-color: color("white");
  height: 60px;
}

.navbar-brand {
  font-size: 20px !important;
  color: theme-color("dark") !important;
}

.footer {
  text-align: center;
  border-top: 1px solid theme-color("primary");
  padding-top: 20px;
}

.hoverCard {
  transition: 0.3s;
  border: 0px solid;
  border-color: color("white");
  background-color: color("white");
}

.hoverCard:hover {
  cursor: pointer;
  border-color: theme-color("primary");
  background-color: theme-color("light");
}

.homeHeader {
  padding: 40px 40px 40px 40px;
  border-bottom: 1px solid theme-color("primary");
}

.pageHeader {
  text-align: left;
  padding: 0 0 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid theme-color("primary");
}

.pageNavIcon {
  cursor: pointer;
  margin-right: 20px;
  color: theme-color("text");
}

#markdown {
  text-align: left;
}

#markdown img {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid theme-color("primary");
}
