@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

$theme-colors: (
  "primary":    #465B6B,
  "secondary":  #EDF1F6,
  "light":      #EDF1F6,
  "dark":       #465B6B,
  "text":       #465B6B,
  "highlight":  #00FFFF,
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body {
  font-family: 'Bitter', serif;
}

#app {
  font-family: 'Bitter', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme-color("text");
}

body {
  background: color("white");
}

*:focus {
  outline: none !important;
}

* {
  border-radius: 0 !important;
  font-size: 13px !important;
}

h1 {
  display: inline-block;
  font-size: 30px !important;
  font-weight: bold !important;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, theme-color('highlight') 40%);
}

h2 {
  font-size: 20px !important;
  font-weight: bold !important;
}

h3 {
  font-size: 18px !important;
  font-weight: bold;
}

.badge {
  cursor: pointer;
}

@include media-breakpoint-down(sm) {
  #filterContainer {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.navbar {
  background-color: color("white");
  height: 60px;
  z-index: 300;
}

.navbar-brand {
  font-size: 20px !important;
  color: theme-color("dark") !important;
}

.footer {
  text-align: center;
  padding-top: 40px;
}

.hoverCard {
  transition: 0.3s;
  border: 5px solid;
  border-color: theme-color("light");
}

.hoverCard:hover {
  cursor: pointer;
  border-color: theme-color("dark");
  transform: scale(0.97);
}

#homeHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: 0;
  left: 0;
  position: fixed;
}

#homeHeaderContent {
  background-color: color("white");
  padding: 30px;
}

#homeHeaderSpacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  z-index: -50;
}

#portfolioHeader {
  background: color("white");
  padding-top: 60px;
  padding-bottom: 10px;
  z-index: 1
}

#portfolioSelectorContainer {
  background-color: color("white");
  min-height: 100vh;
}

#portfolioSelector {
  padding: 5px;
  background-color: theme-color("light");
}

#pageHeader {
  text-align: left;
  padding: 0 0 30px 0;
}

.pageNavIcon {
  cursor: pointer;
  margin-right: 20px;
  color: theme-color("text");
}

#markdown {
  text-align: left;
}

#markdown img {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid color("dark");
}

.chevron{
  position: relative;
  display: block;
  height: 30px;
  cursor: pointer;
}

.chevron:before,
.chevron:after{
  left: 50%;
  margin-left: -30px;
  position: absolute;
  display: block;
  content: "";
  border: 30px solid transparent;
}

.chevron:before{
  top: 0;
  border-top-color: theme-color("text");
}

.chevron:after{
  top: -15px;
  border-top-color: color("white");
}